.todoFormContainer {
  margin-bottom: 20px;
}

.todoForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputWrapper {
  display: flex;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.inputError {
  border-color: #ff0000; /* Красная рамка при ошибке */
}

.errorMessage {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}
